body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24a049;
    line-height: 1.6;
}

.content {
    max-width: 800px;
    background-color: #266b14;
    padding: 30px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #110202;
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    color: #110202;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: #110202;
    margin-bottom: 15px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #010501;
    text-decoration: none;
    font-weight:bold;

a:hover{
  
    text-decoration: underline;}
    
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #054b1c;
}
nav a {
    color: rgb(5, 12, 9);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 600px) {
    .content {
        padding: 20px;
        margin: 20px auto;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        padding: 10px;
        text-align: center;
    }
    img {
        display: block;¨
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }
}